.MuiAutocomplete-root{
  margin-bottom: 20px;
}

.character-item {
  text-align: center;
  cursor: pointer;
}

.character-item img {
  width: 100%;
}

.character-item h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.character-item p {
  margin-top: 0;
}

.custom-pagination {
  margin-top: 20px;
}

.custom-pagination .MuiPagination-ul {
  justify-content: center;
}